




body {
    font-size: 2rem;
    width: 800px;
    margin: auto auto;
    min-height: 100vh;
    display: grid;
    grid-template:
        "... ...... ...... ...... ...... ...... ..."
        "... header header header header header ..." 170px
        "... ...... ...... ...... ...... ...... ..."
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..."
        "... footer footer footer footer footer ..." 60px
        "... ...... ...... ...... ...... ...... ..."
        / auto 200px auto 1fr auto 200px auto;
}
header {
    grid-area: header;
    text-align: center;
    color:red;
    font-size: 30px;
    background-color: white;
    
}
main {
    background-image:url(../SAMPLE/images/20160923_180640a.jpg );
    background-size:cover;
    grid-area: center;
    text-align: center;
    padding-top: 3%;
}
nav {
    
    grid-area: left;
    text-align: center;
    color:red;
}
aside {
    grid-area: right;
    text-align: center;
}
footer {
    grid-area: footer;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    body {
        grid-template:
            "header" 150px
            "center" 1fr
            "left  "
            "right "
            "footer" 300px;
    }
}


.btn-wrapper {
    /*padding:8px 30px;*/
    /*background-color:rgb(45, 230, 76);*/
    display:block;
    border-radius:4px;
    
       
    
       
       
    
   
   
    
}   

.garally {
    background-color:#8290ac;
    /*margin-bottom:10px;*/
    border-radius:4px;
    transition:all 0.1s;
    
    
       
 
      }
      
    

  .profile {
    background-color:#55acee;
    border-radius:4px;
    transition:all 0.1s;
    
  }
  .Contact {
    background-color:#239b76;
    /*margin:20px 0;*/
    border-radius:4px;
    transition:all 0.1s;
  }
  header {
    
    position:fixed;
    text-outline: 50px;
    left:0;
    right:0;
    bottom: auto;
    z-index:10;
    
    
    
  }
  
