body {
    font-size: 1rem;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template:/*レイアウト*/
        "... ...... ...... ...... ...... ...... ..." 
        "... header header header header header ..." 91px
        "... ...... ...... ...... ...... ...... ..." 10px
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..."
        "... footer footer footer footer footer ..." 50px
        "... ...... ...... ...... ...... ...... ..."
        / auto 200px auto 1fr auto 200px auto;
        
}
header {
    grid-area: header;
    text-align:center;
    letter-spacing:50px;
    background-color: rgb(74, 216, 216);
    background-image:url(../WEB/seihai/images/IMG_20180923_065505.jpg );
    background-size:cover;
    color: rgb(230, 17, 34);
    
}
main {
    grid-area: center;
    text-align:center;
   /* background-color:rgb(173, 176, 221)*/
   background-image:url(../yasei/images/IMG_4109a.jpg );
   background-size:cover;
}
nav {
    grid-area: left;
    background-color: whitesmoke;    

}
aside {
    grid-area: right;
    background-color: whitesmoke;
}
footer {
    grid-area: footer;
    background-color: whitesmoke;
   
    
}
@media screen and (max-width: 1000px) {
    body {
        grid-template:
            "header" 150px
            "center" 1fr
            "left  "
            "right "
            "footer" 300px;
    }
}
div {
    font-size: small;
    text-align:center;
}
nav h5 {
    text-align:center; 
}
aside h5 {
    text-align:center;   
}

aside p {
    text-align:center; 
    font-size: small; 
      
}
body footer {
    font-size: small;
    text-align:center;
    
}
/*header固定*/
header {
    position: fixed;
    top:0;
    left: 20%;
    right: 20%;
    z-index:10;
}
body footer p {
    background-color: whitesmoke;   
}

